<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h1><%= title %>!</h1>
        
       
        <table>
                <tr>
                  <th>id</th>
                  <th>first_name</th>
                  <th>last_name</th>
                  <th>email</th>
                  <th>gender</th>
                  <th>class</th>
                </tr>
        <% for(let teacher of teachers){%>
                <tr>
                  <td><%= teacher.id%></td>
                  <td><%= teacher.first_name%></td>
                  <td><%= teacher.last_name%></td>
                  <td><%= teacher.email%></td>
                  <td><%= teacher.gender%></td>
                  <td><%= teacher.lesson%></td>
                </tr>
        <% } %>
        </table>
       
</body>
</html>